*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  
}

body {
  
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFABD9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.nav {
  padding: 0.5rem 1rem;
  transition: 1s;
  font-weight: bold;
}
.nav :hover{
  color: #f20a95;
}

.cart {
  padding: 0.6rem 1rem;
}
.cart :hover{
  color: aqua;
}

.account {
  padding: 0.6rem 1.1rem;
}
.account :hover{
  color: #f20a95;
}


.left {
  display: flex;
  align-items: center;
  margin-left: 5rem;

}
.right {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;
  
}

.fotosHome{
  display: flex;
  margin-left: 5rem;
  margin-bottom: 5rem;

}

.contenedor{
  display: flex;
  margin-top: 4rem;
  margin-left: 4rem;
}

.products{
  display: flex;
  justify-content: center;

}

h3 {
  font-size: 3rem;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0.1em #45ffc7;

}

h4 {
  margin-top: 2rem;
  font-size: 3rem;
  text-align: center;
  color: #45ffc7;
  text-shadow: 0.06em 0.06em #f20a95;

}